.col1, .col2, .col3, .cols, .colcol {float:left}
.col1 {width:346px;background:#f4f4f4;height:100%} 
.col2 {width:603px; background:#f4f4f4;}
.cols {width:280px}

.colcol{width:544px;height:100%}
/* index.html */
#page1 h1 {padding-top:33px}
#page1 #top_nav {padding-top:33px}
#page1 #menu {padding-top:12px}
#page1 header {height:126px}
#page1 #banner {background:url(../images/bg_img.jpg) 0 0 no-repeat;height:242px;padding:38px 0 0 60px}
/* nossa-historia.html */
#page2 .cols {width:249px}
/* index-2.html */
#page3 .cols {width:249px}
/* index-3.html */
/* contato.html */
#page5 .cols {width:80px}
/* index-5.html */
/* index-6.html */
